/* .container{
    border: 1px solid red;
} */

.container>:nth-child(1){
    background-color: rgb(240, 253, 251);
    margin-top: 2rem;
}

.container>:nth-child(2){
    background-color: rgb(218, 188, 246);
    margin-top: 2rem;
}